<template>
  <div id="component">
    <NavBar></NavBar>
    <div class="container is-flex is-align-items-center is-flex-direction-column">
      <div class="field">
        <div class="file is-info has-name">
          <label class="file-label">
            <input class="file-input" type="file" id="file" @change="processForm" multiple>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Žaloba
              </span>
            </span>
          </label>
        </div>
      </div>
      <div>
        <label for="file">Nahrajte žalobu, kterou chcete podat</label>
      </div>
        <p>
          Nahrajte všechny stránky dokumentu. Beta verze podporuje pouze formáty obrázků podporované vaším webovým prohlížečem.
        </p>
        <p>
          Následně si pomocí tlačítek v pravé části obrazovky volte nástroje a jejich pomocí zvýrazněte relevantní části dokumentu.
        </p>
      <div class="columns">
        <canvas @mousemove="mouseMove" id="content" class="column is-three-quarters"></canvas>
        <div class="column" id="problems">
          <ICry v-on:icry-activated="iCryActivated" v-for="detection in ['accuser', 'court', 'date_and_place', 'intent', 'signature', 'topic']" v-bind:key="detection" v-bind:style="{ 'background-color': getColor(detection) }" class="icries" :title="translateCryTitle(detection)" notthatmuch>
            {{ getDescription(detection) }}</ICry>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .court {
    background-color: #55acee;
  }
  .date_and_place {
    background-color: yellow;
  }

  .icries {
    margin-top: 1rem;
  }

  #problems {
    padding-top: 5rem;
  }
</style>

<style scoped>
  #component {
    max-height: 100vh;
  }

  .columns {
    width: 100%;
  }

  p {
    text-align: center;
  }
</style>

<script>
// @ is an alias to /src

import ICry from "../components/ICry";
import NavBar from "../components/NavBar";
export default {
  name: 'Apply',
  components: {ICry, NavBar},
  props: {
  },
  data: function() {
    return {
      "paintingColor": "transparent",
      "ctx": null,
      "painting": false,
      "lastcoord": null,
      "beforelast": null, // TODO stupid babycode, use array instead
    }
  },
  methods: {
    processForm: function () {
      const files = document.getElementById("file").files;
      const canvas = document.getElementById('content');
      let promises = [];
      for (const file of files) {
        promises.push(new Promise(resolve => {
          const img = new Image();
          img.addEventListener("load", () => {
            resolve(img);
          });
          img.src = URL.createObjectURL(file);
        }));
      }
      Promise.all(promises)
      .then((imgs) => {
        const width = imgs.map(img => img.width).reduce((a, b) => Math.max(a, b), 0);
        const height = imgs.map(img => img.height).reduce((a, b) => a + b, 0);
        canvas.width = width;
        canvas.height = height;
        const ctx = canvas.getContext('2d');
        this.ctx = ctx;
        let offset = 0;
        for (const img of imgs) {
          ctx.drawImage(img, 0, offset);
          offset += img.height;
        }
      })
      .catch((err) => {
        console.error(err); // TODO
      });
    },
    translateCryTitle(cry) {
      return ({
        "accuser": "Žalobce",
        "court": "Soud",
        "date_and_place": "Datum a místo sepsání",
        "intent": "Záměr",
        "signature": "Podpis",
        "topic": "Čeho se domáháte",
      })[cry];
    },
    getDescription(cry) {
      return ({
        "accuser": "Kdo žalobu podává",
        "court": "Soud, který by měl vynést rozsudek",
        "date_and_place": "",
        "intent": "Čeho se snažíte dosáhnout",
        "signature": "Podpis žalobce, nebo jeho zástupce. Není nutný, pokud se podání činí některými formami elektronické komunikace, jako např. datovou schránkou",
        "topic": "Co je předmětem sporu",
      })[cry];
    },
    getColor(cry) {
      return ({
        "accuser": "#2b76cb",
        "court": "#a3c23f",
        "date_and_place": "#5be3ff",
        "intent": "#ff69cf",
        "signature": "#e79531",
        "topic": "#ffdb00",
      })[cry];
    },
    iCryActivated: function(e) {
      this.paintingColor = e.style.backgroundColor;
      for (const icry of document.querySelectorAll("#problems > *")) {
        if (icry !== e) {
          icry.classList.remove("active");
        }
      }
    },
    mouseMove(e) {
      if (!this.ctx) {
        return;
      }
      const canvas = document.getElementById("content");
      const rect = canvas.getBoundingClientRect();
      const scaleX = canvas.width / rect.width;
      const scaleY = canvas.height / rect.height;
      const x = (e.clientX - rect.left) * scaleX;
      const y = (e.clientY - rect.top) * scaleY;
      const a = 75;
      if (e.buttons === 1) {
        this.painting = true;
        if (this.lastcoord && this.beforelast) {
          console.log([x, y]);
          this.ctx.lineWidth = a;
          this.ctx.strokeStyle = this.paintingColor.replace("rgb", "rgba").replace(")", ",0.5)");
          this.ctx.beginPath();
          this.ctx.moveTo(...this.beforelast);
          this.ctx.lineTo(x, y)
          this.ctx.stroke();
        }
        this.beforelast = this.lastcoord;
        this.lastcoord = [x, y];
      } else {
        this.painting = false;
        this.lastcoord = null;
        this.beforelast = null;
      }
    },
  },
}
</script>
