<template>
  <div class="home">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <figure class="image is-128x128">
          <img alt="Res Judicata" src="@/assets/logo.png">
          </figure>
          <h1 class="title">
            Vítejte v Res Judicata!
          </h1>
          <h2 class="subtitle">
            Aplikace Vám pomůže s dodržením všech náležitostí potřebných pro úspěšné podání žaloby i dalších dokumentů.
          </h2>
          <div class="columns is-multiline">
            <div class="column has-background-black-ter is-one-third">
              <router-link to="/edit">
                <div class="card has-background-black-ter has-text-primary-light">
                  <div class="card-content">
                    <strong>Nemám žalobu</strong> a chci pomoci se správným vyplněním žaloby
                  </div>
                </div>
              </router-link>
            </div>
            <div class="column is-two-thirds">
            </div>
            <div class="column is-one-third">
              <router-link to="/auto-verification">
                <div class="card">
                  <div class="card-content">
                    <strong>Mám žalobu</strong> a chci automaticky zkontrolovat její náležitosti (alpha)
                  </div>
                </div>
              </router-link>
            </div>
            <div class="column is-two-thirds"></div>
             <div class="column is-one-third">
              <router-link to="/assisted-verification">
                <div class="card">
                  <div class="card-content">
                    <strong>Mám žalobu</strong> a chci si s asistencí zkontrolovat její náležitosti, abych tak usnadnil komunikaci s advokátní kanceláří (beta)
                  </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home'
}
</script>
