<template>
    <b-navbar>
        <template #brand>
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="@/assets/logo.png"
                    alt="Res Judicata"
                >
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
export default {
    name: "NavBar"
}
</script>
