<template>
    <b-navbar>
        <template #brand>
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="@/assets/logo.png"
                    alt="Res Judicata"
                >
            </b-navbar-item>
        </template>

        <template #end>
            <b-navbar-item tag="div">
                <div class="buttons">
                    <b-button type="is-light" v-on:click="$emit('save')" icon-pack="fas" icon-left="save">
                        Uložit
                    </b-button>
                    <b-button type="is-light" v-on:click="$emit('restore')" icon-pack="fas" icon-left="database">
                        Načíst
                    </b-button>
                    <b-button type="is-light"  v-on:click="$emit('share')" icon-pack="fas" icon-left="share">
                        Sdílet
                    </b-button>
                    <b-button type="is-success"  v-on:click="$emit('export')" icon-pack="fas" icon-left="file-pdf">
                        <strong>Exportovat PDF</strong>
                    </b-button>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
export default {
    name: "NavBar"
}
</script>
