<template>
<div id="zalovany" class="px-3 py-3 mb-3">
    <b>{{ zalovan.jmeno }} {{ zalovan.prijmeni }}</b>, rč/ičo. {{ zalovan.rodnecisloneboico }}<br>
    {{ zalovan.sidlo.uliceacislopopisne }}, {{ zalovan.sidlo.psc }} {{ zalovan.sidlo.mesto }}, {{ zalovan.sidlo.stat }}
    <span v-on:click='$emit("remove", index)'><b-icon class="remove" pack="fas" icon="trash" size="is-small"></b-icon></span>
</div>
</template>

<style scoped>
#zalovany {
    border: 1px solid black;
}
.remove {
    float: right;
}
</style>

<script>
export default {
    name: "Zalovany",
    props: ['zalovan','index']
}
</script>